<p id="notice"><%= notice %></p>

<p>
  <strong><%= Report.human_attribute_name(:title) + ":" %></strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content) + ":" %></strong>
  <%= @report.content %>
</p>

<% if @user_id == current_user.id %>
  <%= link_to t("links.edit"), edit_report_path(@report) %>
  <%= link_to t("links.delete"), @report, method: :delete, data: { confirm: t("reports.delete.confirm") } %>
<% end %>
<%= link_to t("links.back"), reports_path %>
